/**
 * Gogo Error Message
 */

html,body,div,h1,h2,h3,h4,h5,h6,p,ol,ul,li {margin:0; padding:0; border:none;}

html,body {background:#fff; font-size:100%; font-size:11px; color:#7c7c7c; font-family:Helvetica, Arial, sans-serif;}

img {max-width:100%; width:auto;}

#errorWrap { min-width: 1000px;}

@media all and (max-width: 999px){
	#errorWrap { min-width: inherit;}
}

#errorHead {
	background: url(/abp/images/Gogo_Error_Stripes.png) top center no-repeat;
	height: 74px;
}

h1 {font-size:14px; line-height:20px; margin-bottom:5px; color:#595959;}

p {margin-bottom:5px;}

#errorHead {margin:19px 0 37px 0;}

#errorBody {margin:0 auto; width:1024px;}

.errorMssg {
	width: 230px;
	float: left;
	padding-left: 25px;
	border-left: solid 1px #ddd;
	min-height: 300px;
	margin-bottom: 30px;
}

.errorMssg:first-child {
	margin-left: 0;
	border-left: none;
}

#errorJap.errorMssg {margin-right:0; border-right:none;}

/* hide all languages by default */
.errorMssg { display: none; }

/* always show english */
#errorBody #errorEng { display: block; }

.errorMssg h1 {height:55px;}

.errorMssg h1, .errorMssg p {margin-right:12px; margin-bottom:0;}

.errorMssg ul {margin:18px 25px;}

.errorMssg li {margin:12px 0;}

.errorMssg a { color: #c7162b; }

.clearfix:after {content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0;}

.clearfix {display:block;}

html[xmlns] .clearfix {display:block;}

* html .clearfix {height:1%;}

/*-----------------------------------
         ATG AIRLINE LANGUAGE
-----------------------------------*/

/*  AMERICAN  and US AIRWAYS*/
.aa.atg #errorEsp,
.aa.atg #errorFr,
.us.atg #errorEsp,
.us.atg #errorFr {
	display: block;
}

/* AEROMEXICO */
.am.atg #errorEsp { display: block; }

/* AIR CANADA */
.ac.atg #errorCaFr,
.ac.atg #errorEsp { display: block; }

/*  AIRTRAN  */
.fl.atg #errorEsp { display: block; }

/*  ALASKA  */
.as.atg #errorEsp { display: block; }

/*  DELTA  */
.dl.atg #errorJap { display: block; }

/* FRONTIER */
.f9.atg #errorEsp { display: block; }

/*  JAL  */
.jl.atg #errorJap { display: block; }

/*  UNITED AIRWAYS  */
.ua.atg #errorEsp,
.ua.atg #errorFr {
	display: block;
}

/*  VIRGIN  */
.vx.atg #errorEsp { display: block; }

/*-----------------------------------
       KU AIRLINE LANGUAGE
-----------------------------------*/
/*  AMERICAN  and US AIRWAYS*/
.aa.ku #errorEsp,
.aa.ku #errorFr,
.us.ku #errorEsp,
.us.ku #errorFr {
	display: block;
}

/* AEROMEXICO */
.am.ku #errorEsp { display: block; }

/* AIR CANADA */
.ac.ku #errorCaFr,
.ac.ku #errorEsp { display: block; }

/*  AIRTRAN  */
.fl.ku #errorEsp { display: block; }

/*  ALASKA  */
.as.ku #errorEsp { display: block; }

/*  DELTA  */
.dl.ku #errorJap { display: block; }

/* FRONTIER */
.f9.ku #errorEsp { display: block; }

/*  JAL  */
.jl.ku #errorJap { display: block; }

/*  UNITED AIRWAYS  */
.ua.ku #errorEsp,
.ua.ku #errorFr {
	display: block;
}

/*  VIRGIN  */
.vx.ku #errorEsp { display: block; }



/* NO AIRLINES*/
.noAirline #errorEng,
.noAirline #errorEsp,
.noAirline #errorFr,
.noAirline #errorJap{
	display: block;
}

@media all and (min-width: 1200px){
	html,body {background:#ccc;}
	#errorHead {margin:0 0 37px 0; border-top:solid 8px #fff;}
	#errorWrap {background:#fff; width:1200px; margin:50px auto 0 auto; min-height:625px; border:solid 1px #999; }
}

@media all and (max-width: 1100px) {

	#errorHead { background-position: top left; }
}

@media all and (max-width: 1100px) and (min-width: 640px) {
	#errorWrap {min-width:640px;}
	#errorBody {width:580px;}
	#errorFr.errorMssg {margin-right:0; border-right:none;}

	.errorMssg:nth-child(3n + 0) {
		border-left: none;
	}
}

@media all and (max-width: 640px) {
	#errorWrap {min-width:320px;}
	#errorBody {width:300px;}

	.errorMssg {
		width:300px;
		margin:0 auto 30px auto;
		float:none;
		min-height:220px;
		height:auto;
		border-left:none;
		border-bottom:solid 1px #ccc;
	}

	.errorMssg:last-child {
		border-bottom: none;
	}

	.errorMssg h1 {font-size:12px; height:auto; line-height:16px; margin-bottom:5px; color:#595959;}
	p, li {font-size:10px;}
	#errorJap.errorMssg {border-bottom:none;}
}

@media all and (max-width: 400px) {
	#errorHead { background-position: -100px center; }
}

/* MAP CSS*/
#modalBg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 350;
	background:url(/abp/images/bbyf_modal_BG_trans.png) repeat 0 0;
}

#basicModalWrap {
	display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
}

#basicModal {
  margin: 100px auto;
  width: 800px;
  max-width: 1005px;
  border: solid 4px #fff;
  position: relative;
  box-sizing: border-box;
}

#basicModalContent {
  position: absolute;
  top: 1%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 6px;
  padding: 11px 35px 16px;
}

#basicModalContent > h1 {
  font-size: 1.80em;
  margin-bottom: 4px;
}

#basicModal > img {
  width: 100%;
  max-width: 1005px;
  display: block;
}

#basicModal .caution {
  color: red;
}

#modalClose {
  color: #fff;
  text-decoration: none;
  position: absolute;
  right: 0;
	font-weight: normal;
  margin-top: -27px;
  font-size: 16px;
	text-transform: uppercase;
}

@media only screen and (max-width: 900px) {
  #basicModal {
		width: 94%;
  }
}
@media only screen and (max-width: 400px) {
  #basicModal {
    width: 100%;
  }
  #basicModal {
    background: #e6e6e6;
  }
}