func({
flightInfo:{
	logo:#showJsonValue('https://www.aa.com/content/images/footer/footer_AAVacations.gif'),
	airlineName:#showJsonValue($airlineName),
	flightNumber:#showJsonValue($flightNumber),
	departureCity:#showJsonValue($departureCity),
	destinationCity:#showJsonValue($destinationCity),
	origin:#showJsonValue($origin),
	destination:#showJsonValue($destination),
	loggedIn:#showJsonValue($loggedIn),
	destinationAirportCode:#showJsonValue($destinationAirportCode),
	departureAirportCode:#showJsonValue($departureAirportCode),
	flightNumberInfo:#showJsonValue($flightNumberInfo),
	airlineCode:#showJsonValue($airlineCode),	
	tailNumber:#showJsonValue($tailNumber),
	hSpeed:#showJsonValue($hSpeed),
	vSpeed:#showJsonValue($vSpeed),
	latitude:#showJsonValue($latitude),
	longitude:#showJsonValue($longitude),
	altitude:#showJsonValue($altitude),
	localTime:#showJsonValue($localTime),
	utcTime:#showJsonValue($utcTime),
	expectedArrival:#showJsonValue($expectedArrival),
	videoService:#showJsonValue($videoService)
	}
userDetails: {    
            ipAddress : #showJsonValue($ipAddress),
            macAddress: #showJsonValue($macAddress)
    }
});